﻿<!-- main app container -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="padding-left: 0px;">
    <div class="navbar-header" style="margin:auto;">

      <a class="navbar-brand" href="#myPage">
        <img src="../assets/logo.png" height="100%"/>
      </a>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer bg-light text-dark  fixed-bottom font-small blue ">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-4">© 2018 Copyright:
    Pennsylvania Juvenile Case Management System (PaJCMS)
  </div>
  <!-- Copyright -->


</footer>
<!-- Footer -->