.logout {
    position: absolute;
    right: 10px;
    top: 20px;
}

button , a{
    outline: none; 
}

a {
  color: #000;
  margin-right: 20px;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.mat-tab-body-content{
    padding:100px
}

.margin15 {
    margin: 15px;
}

.removeTopBottomPadding{
    padding-top:0px;
    padding-bottom: 0px
}


.navbar-nav a{
    padding-top:10px;
    padding-bottom: 10px;
}


/deep/ .mat-menu-content {
    padding-top:0px !important;
    padding-bottom: 0px !important;
  }
  
/deep/ .menu-dropdown {
	background:rgba(0,0,0,.1) !important;
  }
  
/deep/ .mat-menu-item:hover {
	background:rgba(0,0,255,0.2) !important;
  }

/deep/ .mat-menu-panel {
    margin-left: -8px;
    margin-top: 9px;
    border-radius: 0px;
  }