﻿<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" [matMenuTriggerFor]="juvenile" #jTrigger="matMenuTrigger" (mouseover)="jTrigger.openMenu()">Juvenile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [matMenuTriggerFor]="users" #uTrigger="matMenuTrigger" (mouseover)="uTrigger.openMenu()">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [matMenuTriggerFor]="victim" #vTrigger="matMenuTrigger" (mouseover)="vTrigger.openMenu()">Victim</a>
        </li>
    </ul>

</nav>



<mat-menu #juvenile="matMenu" class="mat-menu-panel" [overlapTrigger]="false">
    <button class="menu-dropdown" mat-menu-item (click)="addJuvenile()">Add Juvenile</button>
    <button class="menu-dropdown" mat-menu-item (click)="listJuvenile()">List Juvenile</button>
</mat-menu>

<mat-menu #users="matMenu" class="mat-menu-panel" [overlapTrigger]="false">
    <button class="menu-dropdown" mat-menu-item>Add User</button>
    <button class="menu-dropdown" mat-menu-item>Search User</button>
</mat-menu>

<mat-menu #victim="matMenu" class="mat-menu-panel" [overlapTrigger]="false">
    <button class="menu-dropdown" mat-menu-item>Victim details</button>
</mat-menu>



<div [ngClass]="{'hide': !show_juvenile_list}">
    <table class="table  table-hover">
        <thead>
            <tr>
                <th>Country JID</th>
                <th>SID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Assigned Judge</th>
                <th>Gender</th>
                <th>Eye Color</th>
                <th>Height</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of juvenileUsers">
                <td>{{user.countryJid}}</td>
                <td>{{user.sid}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.assignedjudge}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.eyecolor}}</td>
                <td>{{user.height}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div [ngClass]="{'hide': !show_add_user}">
        <alert></alert>
    <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="changeTab($event)">
        <mat-tab label="Juvenile Details" >
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="margin15">
                    <h3>Add Details</h3>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="countryJid">Country JID</label>
                                <input type="text" formControlName="countryJid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.countryJid.errors }"
                                />
                                <div *ngIf="submitted && f.countryJid.errors" class="invalid-feedback">
                                    <div *ngIf="f.countryJid.errors.required">Country JID is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="sid">SID</label>
                                <input type="text" formControlName="sid" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="assignedJudgeDrpBx">Assigned Judge</label>
                                <select formControlName="assignedjudge" class="form-control" id="assignedJudgeDrpBx">
                                    <option value="Assign Judge 1">Assign Judge 1</option>
                                    <option value="Assign Judge 2">Assign Judge 2</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                />
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                />
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">Next</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Physical Description">
            <form [formGroup]="registerFormStep2" (ngSubmit)="onFinalSubmit()">
                <div class="margin15">
                    <h3>Add Physical Description</h3>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Gender">Gender</label>
                                <select formControlName="gender" class="form-control">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="eye">Eye</label>
                                <select formControlName="eyecolor" class="form-control">
                                    <option value="Brown">Brown</option>
                                    <option value="Black">Black</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="height">Height</label>
                                <input type="number" step="0.1" formControlName="height" class="form-control" [ngClass]="{ 'is-invalid': final_submitted && f2.height.errors }"
                                />
                                <div *ngIf="final_submitted && f2.height.errors" class="invalid-feedback">
                                    <div *ngIf="f2.height.errors.required">Height required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">Submit</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>


<!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
<!-- <h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
<p class="logout">
    <a [routerLink]="['/login']">Logout</a>
</p>